{% ckan_extends %}

{% block banner %}
    {% set score = package.get('qa').get('openness_score') %}
    {% if score %}
        <div class="package_stars" style="margin-bottom: 4px;">
            {% if score == 5 %}
                <span>
                    <span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span>
                </span>
            {% elif score == 4 %}
                <span>
                    <span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star-empty"></span>
                </span>
            {% elif score == 3 %}
                <span>
                    <span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span>
                </span>
            {% elif score == 2 %}
                <span>
                    <span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span>
                </span>
            {% elif score == 1 %}
                <span>
                    <span style="display:inline" class="icon icon-star"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span>
                </span>
            {% elif score == 0 %}
                <span>
                    <span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span><span style="display:inline" class="icon icon-star-empty"></span>
                </span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
